<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Thresholds>
                <Threshold>
                        <T1>6.0</T1>
                        <T2>6.0</T2>
                        <T3>6.0</T3>
                        <T4>6.0</T4>
                </Threshold>
                <HighThreshold>
                        <T1H>10.0</T1H>
                        <T2H>10.0</T2H>
                        <T3H>10.0</T3H>
                        <T4H>10.0</T4H>
                </HighThreshold>
                <RepeatabilityNoiseThreshold>
                        <T1R>0.5</T1R>
                        <T2R>0.5</T2R>
                        <T3R>0.5</T3R>
                        <T4R>0.5</T4R>
                </RepeatabilityNoiseThreshold>
                <SigmaThreshold>
                        <TS>2</TS>
                </SigmaThreshold>
                <SigmaThreshold2>
                        <TS2>0.2</TS2>
                </SigmaThreshold2>
                <CorrThreshold>
                        <TC>0.8</TC>
                </CorrThreshold>
                <Lane2LaneCorrThreshold>
                        <TL>0.8</TL>
                </Lane2LaneCorrThreshold>
                <OutlierThresholds>
                        <T1O>6.0</T1O>
                        <T2O>6.0</T2O>
                        <T3O>6.0</T3O>
                        <T4O>6.0</T4O>
                        <T5O>6.0</T5O>
                        <T6O>6.0</T6O>
                </OutlierThresholds>
                <PairedOutlierThresholds>
                        <T1PO>12.0</T1PO>
                        <T2PO>12.0</T2PO>
                        <T3PO>12.0</T3PO>
                        <T4PO>12.0</T4PO>
                        <T5PO>12.0</T5PO>
                        <T6PO>12.0</T6PO>
                </PairedOutlierThresholds>
                <ByLaneThreshold>
                        <TBL>0.5</TBL>
                </ByLaneThreshold>
        </Thresholds>
        <Benchmarks>
                <EyeChartIntelMinBenchmark>
                        <B1EyeMin>10.0</B1EyeMin>
                        <B2EyeMin>10.0</B2EyeMin>
                        <B3EyeMin>37.5</B3EyeMin>
                        <B4EyeMin>37.5</B4EyeMin>
                </EyeChartIntelMinBenchmark>
                <EyeChartIntelMeanBenchmark>
                        <B1EyeMean>12.0</B1EyeMean>
                        <B2EyeMean>12.0</B2EyeMean>
                        <B3EyeMean>40.0</B3EyeMean>
                        <B4EyeMean>40.0</B4EyeMean>
                </EyeChartIntelMeanBenchmark>
                <PassHealthBenchmark>
                        <PH>75.0</PH>
                </PassHealthBenchmark>
                <PassTrustBenchmark>
                        <PT>40.0</PT>
                </PassTrustBenchmark>
                <FailHealthBenchmark>
                        <FH>75.0</FH>
                </FailHealthBenchmark>
                <FailTrustBenchmark>
                        <FT>75.0</FT>
                </FailTrustBenchmark>
                <MaxNearWCCount>
                        <MaxWC>8</MaxWC>
                </MaxNearWCCount>
                <DesiredRepeatCount>
                        <RepeatCount>5</RepeatCount>
                </DesiredRepeatCount>
        </Benchmarks>
        <Coefficient>
                <HealthCoeff>
                        <MEANMINCHECK>20.0</MEANMINCHECK>
                        <MINMINCHECK>20.0</MINMINCHECK>
                        <HIGHMEANMINCHECK>5.0</HIGHMEANMINCHECK>
                        <HIGHMINMINCHECK>5.0</HIGHMINMINCHECK>
                        <SIGMAMEANCHECK>5.0</SIGMAMEANCHECK>
                        <SIGMAMINCHECK>5.0</SIGMAMINCHECK>
                        <HIGHMEANMEANCHECK>5.0</HIGHMEANMEANCHECK>
                        <HIGHMINMEANCHECK>5.0</HIGHMINMEANCHECK>
                        <OUTLIERHEALTH>-1.0</OUTLIERHEALTH>
                        <WINDOWMEANCHECK>5.0</WINDOWMEANCHECK>
                        <REPEATNOISECHECK>5.0</REPEATNOISECHECK>
                        <HIGHTOLOWCORRCHECKHEALTH>1.5</HIGHTOLOWCORRCHECKHEALTH>
                        <WINDOWCORRCHECKHEALTH>3.0</WINDOWCORRCHECKHEALTH>
                        <NEARWCCOUNT>-1.0</NEARWCCOUNT>
                        <LANE2LANECORRCHECKHEALTH>1.5</LANE2LANECORRCHECKHEALTH>
                </HealthCoeff>
                <TrustCoeff>
                        <SYSTEMCOUNT>5.0</SYSTEMCOUNT>
                        <REPEATCOUNT>1.0</REPEATCOUNT>
                        <MEANCHECK>5.0</MEANCHECK>
                        <MINCHECK>5.0</MINCHECK>
                        <SIGMAMEANCHECKTRUST>5.0</SIGMAMEANCHECKTRUST>
                        <SIGMAMINCHECKTRUST>5.0</SIGMAMINCHECKTRUST>
                        <TOTALSIGMACHECK>-2.0</TOTALSIGMACHECK>
                        <OUTLIERTRUST>-1.0</OUTLIERTRUST>
                        <HIGHTOLOWCORRCHECKTRUST>2.5</HIGHTOLOWCORRCHECKTRUST>
                        <WINDOWCORRCHECKTRUST>5.0</WINDOWCORRCHECKTRUST>
                        <LANE2LANECORRCHECKTRUST>2.5</LANE2LANECORRCHECKTRUST>
                </TrustCoeff>
        </Coefficient>
</Configuration>
